@charset "UTF-8";

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Noto Sans KR";
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #333;
}

/* common */
.box-guide {
	width: 1200px;
	margin: 0 auto;
}

/* common text style */
.text-small-1 {
	font-size: 13px;
	font-family: "Noto Sans KR";
	color: #999;
}

.top-content {
	background-color: #000;
	height: 34px;
	width: 100%;
	display: block;
	position: relative;
}

.top-content-right {
	float: right
}

.top-content a {
	color: #999;
	font-size: 13px;
}

/* header */

button {
	appearance: none;
	background-color: transparent;
	border: none;
}

.searchText {
	background-color: transparent;
	border-bottom: 2px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-right: -10px;
	width: 280px;
	height: 20px;
}

header {
	position: fixed;
	top: 0px;
	width: 96%;
	background-color: white;
	z-index: 10000;
	display: flex;
	font-family: 'Noto Sans KR';
	padding-right: 50px;
	border-bottom: 1px gray solid;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px 0 30px;
}

header ul {
	display: flex;
}

header ul li a {
	padding: 0px 12px;
	color: black;
	size: 18px;
}

/* mainHeader */
.mainHeader {
	border-bottom: none;
	background-color: rgba(0, 0, 0, 0.1);
}

.mainHeader ul li a {
	color: white
}

.mainHeader .searchText {
	border-bottom: 2px solid white;
}

/* container */
.container .area-text h3 {
	font-size: 15px;
	font-family: "Noto Sans KR";
	color: #333;
}

.container .text-fire-1 {
	display: block;
	width: 45px;
	background-color: salmon;
	font-size: 16px;
	font-family: "Noto Sans KR";
	color: white;
	line-height: 45px;
}

.container .section-main {
	padding: 80px 0;
	text-align: center;
}

.container .section-main>.title {
	font-size: 30px;
	font-family: "Noto Sans KR";
}

.container .list-column {
	margin-top: 60px;
}

.container .list-column {
	display: flex;
}

.container .list-column>li {
	flex: 1
}

.container .list-column>li:first-child:nth-last-child(5){
	width: calc((100% - 100px) / 5);
}
.container .list-column>li:first-child:nth-last-child(5) ~ li{
	width: calc((100% - 100px) / 5);
}

.container .list-column>li+li {
	margin-left: 25px;
}

.container .list-column>li a:hover img {
	transform: scale(1.1)
}

.container .list-column>li .area-img img {
	height: 100%;	
	transition: 0.3s;
}

.container .list-column .area-img .inner{
	display: inline-block;
	position: relative;
	height: 100%;
}

.container .list-column .area-text {
	position: relative;
	padding: 26px 0 26px;
	border-bottom: 1px solid #e5e5e5;
}

/* 단순 리스트 이미지 영역 */
.container .list-column .area-img.basic {
	overflow: hidden;
	height: 310px;
	transition: 0.3s;
}

.container .list-column .area-img.basic img {
	margin-left: 50%;
	transform: translateX(-50%);
}

.container .list-column .area-img.basic:hover{
	transform: scale(1.05)
}
	
/* 포스터 확대 배경 이미지 */
.container .list-column .area-img.bg-clone {
	position: relative;
	width: 380px;
	height: 340px;
	padding: 50px 0 60px;
	background-size: 600%;
	background-position: center;
	background-repeat: no-repeat;
}

.container .list-column .area-img.bg-clone img {
	position: relative;
	z-index: 1;
	border: 1px solid rgba(255,255,255, 0.5);
	box-shadow: 0 0 30px rgba(255,255,255,0.4);
}

.container .list-column .area-img.bg-clone + .area-text {
	padding-top: 46px;
}

.container .list-column .area-img.bg-clone:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	content: '';
}

/* container > ranking */
.container .ranking .rankBtn {
	display: inline-block;
	border: 1px solid gray;
	width: 214px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}

.container .ranking .tab-list {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.container .ranking .tab-list>li {
	margin: 0 20px;
}

.container .ranking .area-text .text-fire-1 {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 2;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}

/* footer */
footer {
	border-top: 1px solid #ddd;
	font-family: 'Noto Sans KR';

}

footer .box-top {
	border-bottom: 1px solid #f6f6f6;
}

footer .box-top .list-link {
	display: flex;
	height: 70px;
	align-items: center;
}

footer .box-top .list-link>li {
	padding: 0 20px;
	font-size: 15px;
	font-family: "Noto Sans KR";
}

footer .box-bottom {
	display: flex;
	margin-top: 30px;
}

footer .box-bottom a {
	margin: 0 40px 0 30px;
}

footer .box-bottom .box-text {}

footer .box-bottom .box-text p {
	font-size: 13px;
	font-family: "Noto Sans KR";
	color: #999;
}

footer .box-bottom .box-text p+p {
	margin-top: 3px;
}

footer .box-bottom .box-text+p {
	margin-left: auto;
	font-family: "Noto Sans KR";
	font-size: 12px;
}